.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-strength-label {
  color: white;
  font-size: 24px;
  margin: 15px;
  font-weight: bold;
}

.password-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background: black;
  color: white;
  padding: 8px
}

.show-password-button {
  background: url("../../assets/show-password.png") no-repeat center;
}

.hide-password-button {
  background: url("../../assets/hide-password.png") no-repeat center;
}

.show-password-button,
.hide-password-button {
  margin-left: 5px;
  background-size: 40px 30px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.strength-indicator-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}

.strength-indicator-easy,
.strength-indicator-medium,
.strength-indicator-strong {
  height: 15px;
  flex-grow: 1;
  margin-right: 5px;
}

.default {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: gray;
  }
}

.weak {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: red;
  }
}

.easy {
  .strength-indicator-easy {
    background-color: red;
  }

  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: gray;
  }
}

.medium {
  .strength-indicator-easy,
  .strength-indicator-medium {
    background-color: yellow;
  }

  .strength-indicator-strong {
    background-color: gray;
  }
}

.strong {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: green;
  }
}
