<div class="password-strength-container">
  <div class="password-strength-label">Password strength checker</div>

  <div class="password-input-section">
    <input class="password-input"
           [type]="passwordVisible ? 'text' : 'password'"
           [(ngModel)]="password"
           (input)="checkPasswordStrength()"
           placeholder="Enter password">
    <button [class]="passwordVisible ? 'hide-password-button' : 'show-password-button'"
            (click)="togglePasswordVisibility()"></button>
  </div>

  <div class="strength-indicator-container"
       [ngClass]="passwordStrength">
    <div class="strength-indicator-easy"></div>
    <div class="strength-indicator-medium"></div>
    <div class="strength-indicator-strong"></div>
  </div>
</div>
