.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input-section {
  display: flex;
}

.toggle-password-button {
  margin-left: 5px;
}

.strength-indicator-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}

.strength-indicator-easy,
.strength-indicator-medium,
.strength-indicator-strong{
  height: 10px;
  flex-grow: 1;
  margin-right: 2px;
}

.default {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: gray;
  }
}

.weak {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: red;
  }
}

.easy {
  .strength-indicator-easy {
    background-color: red;
  }

  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: gray;
  }
}

.medium {
  .strength-indicator-easy,
  .strength-indicator-medium {
    background-color: yellow;
  }

  .strength-indicator-strong {
    background-color: gray;
  }
}

.strong {
  .strength-indicator-easy,
  .strength-indicator-medium,
  .strength-indicator-strong {
    background-color: green;
  }
}
